body{
    height:2000px;
    margin:0px;
    background-color:#f9eae1 !important;
}

h1, h2, p{
    margin-block-start: 0px;
    margin-block-end: 0px
}

h1{
    font-size: 72px;
}

h2{
    font-size: 48px;
}

.nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    font-family: Muli;
    justify-content: center;
    align-items:center;
    color:white;
}

.nav a{
    color:white;
    font-size:18px;
    margin:16px;
    text-shadow: 1px 1px black;
    font-weight:bold;
}

#sa{
    width:7%;
}

#header{
    height:100vh;
    width:100%;
    background-image:url("../assets/headerimage.jpeg");
    background-position-x:50%;
    background-position-y: 50%;
    background-size:175%;
    display: flexbox;
    color:white;
    z-index:99;
}

#headerText{
    position: absolute;
    text-align:center;
    bottom: 10vh;
    left: 0px;
    right: 0px;
    transition-delay: 0.02s;
}

#header h1{
    font-family: 'Playfair Display', serif;
    text-align:center;
    margin-bottom:12px;
    font-weight:bold;
    font-style:italic;
}

#header p{
    font-size:24px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    margin-bottom:12px;
}

#header #demo{
    margin-bottom: 24px;
}

#header #scroll{
    position: absolute;
    width: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

div#timeline {
    margin-top: 124px;
}

.timeline h2,.gallery h2, #RSVP h2,.registry h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #741e41;
    margin-top:24px;
    font-size:42px;
}

.timeline .hearts{
    width:150px;
    margin:auto;
    display:block;
}

.timelineLeft{
    text-align: right;
    border-right:1px solid black;
}

.timeline h3{
    font-family: Muli;
    font-size: 25px;
    color:#741e41;
}

.timeline h4{
    font-family: Muli;
    font-size: 15px;
    font-weight: bold;
}

.timelineLeft p{
    max-width:250px;
    float:right;
}

.timeline .timelineLogo{
    width:150px;
}

#RSVP{
    text-align: center;
}

#RSVP h2{
    margin-bottom:24px;
}

#RSVP .topcard{
    display: inline-block;
    background-color: #e8cbc9;
    padding: 24px;
    position: absolute;
    left: 10%;
    z-index: 98;
    margin-top: -100px;
}

#RSVP .rightcard{
    background: #f3d8d8;
    z-index: 2;
    margin-top: 100px;
}

#RSVP .rightcard-text{
    width: 55%;
    margin-left: 45%;
    padding: 12px;
    padding-bottom:24px;
}

form#my-form{
    text-align:center;
}

#my-form input {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
    padding: 12px;
}

form#my-form * {
    margin-top: 6px;
    margin-bottom: 6px;
}

#my-form label {
    min-width: 200px;
    text-align: left;
}

#my-form-button, .registry-button{
    font-family: 'Muli';
    font-weight:bold;
    background: #E31A62;
    color: #FFFFFF;
    border-radius: 5px;
    width: 97px;
    height:30px;
    margin:24px !important;
}

.registry-button{
    margin-left: 0px !important;
}

body .modal {
    position: fixed;
    width: 90vw;
    height: 90vh;
    background-color: #f9eae1;
    z-index: 1000;
    top: 5vh;
    margin: auto;
    left: 0;
    right: 0;
    display:none;
}

.modal{
    overflow-y:visible !important;
    overflow-x:hidden !important;
}

.backgroundopacity{
    background-color:black;
    position:fixed;
    z-index:999;
    opacity:0.7;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display:none;
}

.registry p{
    font-family: 'Muli';
    font-size:20px;
    width:80%;
    margin:auto;
    padding:24px;
}

.registry .row {
    margin-top:42px;
    margin-bottom:42px;
}

.registry .row h3{
    font-family: 'Muli';
    font-weight:bold;
}

.registry .row p{
    font-family: 'Muli';
    font-size:20px;
    width:80%;
    margin:0px;
    padding:0px;
}

.close{
    padding:20px;
}

.footer{
    width:100%;
    height:500px;
    background-image:url("../assets/footer.png");
    background-size:cover;
    margin-top:224px;
    position: relative;
}

.footer .footer-text{
    position: absolute;;
    bottom:60px;
    right:60px;
    font-size:45px;
    font-family: 'Playfair Display', serif;
    color:white;
    font-weight: bold;
    text-shadow:1px 1px black;
}

.mobile{
    display:none !important;
}
@media(max-width:800px){
    #header{
        background-size:500%;
    }
    #header h1{
        padding-top:60px;
        font-size:52px;
    } 
    #header p{
        font-size:16px;
    }

    .timelineLeft{
        text-align:left;
    }

    .timelineLeft p {
        max-width: 250px;
        float: none;
    }
    .orderMobile1{
        order:1;
    }
    .orderMobile2{
        order:2;
    }
    ul.nav{
        display:none;
    }
    .mobile{
        display:inherit !important;
    }
    .navbar {
        position: fixed !important;
        width: 100%;
        z-index: 1000;
    }
    #RSVP .topcard{
        display: block;
        background-color: #e8cbc9;
        padding: 24px;
        position: initial;
        margin-top: 0px;
    }
    
    #RSVP .rightcard{
        background: #f3d8d8;
        margin-top: 0px;
    }
    
    #RSVP .rightcard-text{
        width: 100%;
        margin-left: 0%;
        padding: 12px;
    }
}
